.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background-color: #191919;
    background-image: linear-gradient(#191919, #1c1226);
    width:100%;
    height: 500px;
    margin-top: -5px;
}

.earnbtn{
    background: linear-gradient(93deg, #B126F2 0%, #7700D4 100%);
    border-radius: 10px;
    color: #fff;
    width: 161px;
    height: 40px;
    font-size: 18px;
    border: none;
    margin-top: 25px;
}

.txt{
    color: #89759cb3;
    font-size: 20px;
}

.title{
    color: #CAC4D2;
    font-size: 50px;
}

.cent{
    background: linear-gradient(93deg, #B126F2 0%, #7700D4 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}
